name: Build

on:
  [push]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    env:
      BUILD_VERSION: SNAPSHOT
      PROJECT_NAME: webdav-nio-adapter
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Ensure to use tagged version
        id: taggedVersion
        run: mvn versions:set --file ./pom.xml -DnewVersion=${GITHUB_REF##*/}
        if: startsWith(github.ref, 'refs/tags/') # Run if ref is tagged (e.g. "v.1.4")
      - name: Export the project version to the job environment and fix it as an ouput of this step
        id: setVersion
        run: |
          v=$(mvn help:evaluate "-Dexpression=project.version" -q -DforceStdout)
          echo "BUILD_VERSION=${v}" >> $GITHUB_ENV
      - name: Build and Test
        id: buildAndTest
        run: mvn -B clean install jacoco:report -Pcoverage,dependency-check
      - name: Upload code coverage report
        id: codacyCoverageReporter
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh)
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        continue-on-error: true
      - name: Upload snapshot artifact ${{ env.PROJECT_NAME }}-${{ env.BUILD_VERSION }}.jar
        id: uploadSnapshot
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PROJECT_NAME }}-${{ env.BUILD_VERSION }}.jar
          path: target/${{ env.PROJECT_NAME }}-*.jar
